<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>inscription</title>
</head>
<body>
    <div class="bg-white shadow-lg rounded  mx-24  pt-6 mt-24">
        <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()">
            <div class="grid gap-6 mb-6 md:grid-cols-2 m-24">
                <div>
                    <label  for="first_name" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                    <input type="text"  
                    name="_nom"
                    formControlName="_nom" 
                    class=" form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  
                    placeholder="Boulet" required>
                    <div *ngIf="inscriptionForm.controls['_nom'].invalid && (inscriptionForm.controls['_nom'].dirty || inscriptionForm.controls['_nom'].touched)">
                        <div *ngIf="inscriptionForm.controls['_nom'].errors?.['required']">L'adresse e-mail est obligatoire.</div>
                        <div *ngIf="inscriptionForm.controls['_nom'].errors?.['minlength']">L'adresse e-mail doit comporter au moins 6 caractères.</div>
                    </div>
                </div>
                <div>
                    <label name ="prenom" 
                    for="last_name" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prenom</label>
                    <input type="text"  
                    name="_prenom"
                    formControlName="_prenom" 
                    class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    placeholder="Jean-Paul" required>
                    <div *ngIf="inscriptionForm.controls['_prenom'].invalid && (inscriptionForm.controls['_prenom'].dirty || inscriptionForm.controls['_prenom'].touched)">
                        <div *ngIf="inscriptionForm.controls['_prenom'].errors?.['required']">L'adresse e-mail est obligatoire.</div>
                        <div *ngIf="inscriptionForm.controls['_prenom'].errors?.['minlength']">L'adresse e-mail doit comporter au moins 6 caractères.</div>
                    </div>
                    
                </div>

                <div>
                    <label name ="telephone" 
                    for="phone" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telephone</label>
                    <input type="tel" 
                    formControlName="_telephone" 
                    name="_telephone" 
                    class=" form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    placeholder="06 02 03 02 03" pattern="[0-9]{10}" required>
                    <div *ngIf="inscriptionForm.controls['_telephone'].invalid && (inscriptionForm.controls['_telephone'].dirty || inscriptionForm.controls['_telephone'].touched)">
                        <div *ngIf="inscriptionForm.controls['_telephone'].errors?.['required']">L'adresse e-mail est obligatoire.</div>
                    </div>
                </div>
                <div >
                    <label name ="mail" 
                    for="email" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Addresse email </label>
                  
                    <input type="email" 
                    formControlName ="_email" 
                    name ="_email" 
                    class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    placeholder="jean-paulboulet@gmail.com" required>
                    <div *ngIf="inscriptionForm.controls['_email'].invalid && (inscriptionForm.controls['_email'].dirty || inscriptionForm.controls['_email'].touched)">
                        <div *ngIf="inscriptionForm.controls['_email'].errors?.['required']">L'adresse e-mail est obligatoire.</div>
                        <div *ngIf="inscriptionForm.controls['_email'].errors?.['minlength']">L'adresse e-mail doit comporter au moins 6 caractères.</div>
                        <div *ngIf="inscriptionForm.controls['_email'].errors?.['email']">L'adresse e-mail n'est pas valide.</div>
                        <div *ngIf="inscriptionForm.controls['_email'].errors?.['pattern']">L'adresse e-mail n'est pas au bon format.</div>
                      </div>
                </div>
                <div >
                    <label name ="adresse" 
                    for="adresse" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Addresse Postal </label>
                    
                    <input type="adresse" 
                    formControlName="_adresse" 
                    name ="_adresse" 
                    class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    placeholder="44 rue de lille  Lille 59000" required>
                    <div *ngIf="inscriptionForm.controls['_adresse'].invalid && (inscriptionForm.controls['_adresse'].dirty || inscriptionForm.controls['_adresse'].touched)">
                        <div *ngIf="inscriptionForm.controls['_adresse'].errors?.['required']">L'adresse e-mail est obligatoire.</div>
                    </div>
                </div>
                <div class="">
                    <label name ="password" 
                    for="password" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                   
                    <input type="password"
                           formControlName="_mot_de_passe"
                           class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    placeholder="*********" required>
                   
                        <div *ngIf="inscriptionForm.get('_MOT_DE_PASSE')?.errors?.['required']">Saisie du mot de passe est obligatoire.</div>
                        <div *ngIf="password?.errors?.['minlength']">Le mot de passe doit comporter au moins 4 caractères.</div>
                       
                    </div>
                      
                </div>
               
            

            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    <input id="remember" 
                    type="checkbox" 
                    formControlName="" 
                    value="" 
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
                </div>
                <label for="remember" 
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Je suis d'accord avec : 
                <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">les termes et conditions</a>.</label>
            </div>
            <div class="flex justify-center pb-4">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    S'inscrire
                </button>
            </div>
        </form>
    </div>
</body>
</html>
