<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  <div class="bg-white shadow-lg rounded  mx-24 pt-6 mt-24">
    <form [formGroup]="loginForm" (ngSubmit)="login()"  >
       <div class=" px-40 pt-12  pb-12">
          <div class="form-group mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username"> Identifiant</label>
            <input class=" form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              formControlName="_email"
              name="mail" 
              type="text" 
              placeholder="jeanpaul@gmail.com">
          </div>

           <div class="form-group mb-6">
             <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mots de passe</label>
             <input class="form-control  shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              name="password" 
              formControlName="_MOT_DE_PASSE"
              type="password" 
              placeholder="*******">
             <p class="text-black text-xs italic">Veuillez entrer votre password.</p>
          </div>
          <div class="flex justify-center pb-4">
            <button
              class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              type="submit"
              data-te-ripple-init
              data-te-ripple-init data-te-ripple-color="light">
              Login
            </button>
          </div>
          <div class=" flex justify-end ">
            <a class="inline-block align-baseline font-bold text-xs m-2 text-blue-500 hover:text-blue-800" href="#">
              Mots de passe oublier?
            </a>
           </div>
       </div>
   </form>
</div>

</body>
</html>

<!--         
<pre>
  {{loginForm.value | json}}
</pre> -->



